@import './src/styles/Tools';
@keyframes hoverLogo {
  from {text-shadow: 0 0 13px $maleskaWhite}
  to {color: $timberWolf }
}
.navbar-container{
  @include ui-font();
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: space-evenly;
  border: 2px solid $darkSalmon;
  border-radius: 5px;
  background-color: $raisinBlack;
  color: $maleskaWhite;

  &__logo{
    @include logo-font();
    color: $timberWolf;
    font-size: xx-large;
    font-weight: lighter;

    &:hover{
      // text-shadow: 0 0 3px $babyPink;
      animation-name: hoverLogo;
      animation-duration: 2s;
    }
  }

}